footer {
    display: flex;
    background: #1d0125 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .copyright {
            color:#fff;
            display: flex;
            align-items: center;
            font-size: 13px;
            font-family: sans-serif;
        }

        .accesibilidad {
            display: flex;
            align-items: center;    
        }
    }
}