footer {
    background: #1d0125 !important;
    
    .container {
        padding-top:15px;
        padding-bottom:15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .copyright {
            color:#fff;
            display: flex;
            align-items: center;
            font-size: 13px;
            font-family: sans-serif;
        }
    }
}