<section>
    <div class="container">
        <div class="row">
            <div class="col niveles">
                <div class="btn-group" role="group">
                    <ng-container *ngFor="let item of menuNiveles">
                        <button type="button" class="btn btn-dark" (click)="filtrarPorDificultad(item.nivel)">{{item.nivel}}</button>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 articleEntrenamiento">
                <article class="entrenamiento" *ngFor="let rutina of rutinas">
                    <h2>{{rutina.nombre}}</h2>

                    <hr>

                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-5">
                            <img class="articulo img-fluid" [attr.src]="'assets/img/' + rutina.imagen">
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{rutina.descripcion}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-outline-primary">Ver rutina</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>