<section>
  <div class="container">
    <h1>Contacto</h1>

    <form id="contacto" action="#" method="post">
      <div class="form-group">
        <label for="nombre" class="lead control-label">Nombre y apellidos</label>
        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="p. ej:. Pepito Nuñoz" required>
      </div>

      <div class="form-group">
        <label for="email" class="lead control-label">Correo electrónico</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="p. ej:. pepitoPerez@nsa.com" required>
      </div>


      <div class="form-group">
        <label for="asunto" class="lead control-label">Asunto</label>
        <textarea name="asunto" id="asunto" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-outline-dark" type="submit">Enviar</button>
      </div>
      
    </form>
  </div>
</section>