<app-header></app-header>

<section>
  <div class="container">
    <h1>Artículos destacados</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates porro repellat unde temporibus suscipit sunt saepe deleniti obcaecati vitae? Libero, porro. Aliquam quas dolores quisquam ducimus tenetur natus beatae itaque sint. Aliquid ad, eius explicabo dicta dolor iste tenetur nobis sed in inventore alias tempora laudantium non porro iure maxime cumque officia provident laboriosam facere rerum soluta voluptatem vero!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, quibusdam tempora rerum error aliquid ipsam natus itaque suscipit modi magni voluptatum recusandae impedit excepturi explicabo optio culpa distinctio asperiores architecto, nulla minus totam ea saepe nisi vel? Nemo non quibusdam nam suscipit doloribus, hic nisi corrupti praesentium, molestiae asperiores blanditiis doloremque. Ullam, quas reprehenderit!</p>
  </div>
</section>