


<section>
  <div class="container">
    <ng-container *ngIf="carrito.length == 0">
      <h2 class="carrito lead">Carrito (vacio)</h2>
    </ng-container>

    <ng-container *ngIf="carrito.length >= 1">
      <h2 class="carrito">Carrito ({{carrito.length}})</h2>

      <div class="row">
        <div class="col-12 col-lg-8">

          <ng-container *ngFor="let articulo of carrito">
            <div class="row articulo">
              <div class="col-4 col-sm-3">
                <img class="articulo" [attr.src]="'assets/img/' + articulo.imagen">
              </div>

              <div class="col col-sm">
                <div class="row">
                  <div class="col-12">
                    <h5>{{articulo.nombre}}</h5>
                  </div>
                  <div class="col-6 col-sm text-nowrap">PVP: {{articulo.precio}}€</div>
                  <div class="col-6 col-sm text-nowrap">Cantidad: {{articulo.cantidad}}</div>
                  <div class="col-6 col-sm text-nowrap">Precio total: {{articulo.totalArticulo}}€</div>
                  <div class="col-6 col-sm text-right text-center text-sm-right">
                    <i class="fas fa-times eliminarDelCarrito bg-danger text-white py-1 px-1" (click)="eliminarDelCarrito(articulo)"></i>
                  </div>
                  <div class="col-12">
                    <hr>
                  </div>

                  <div class="col-12">
                    <a routerLink="/tienda/articulo/{{articulo.k}}">Revisar detalles</a>
                  </div>

                </div>
              </div>
            </div>
          </ng-container>


          <button class="btn btn-outline-danger d-block mx-auto vaciarCarrito" (click)="vaciarCarrito()">Vaciar carrito</button>
        </div>

        <div class="col-12 col-lg">
          <div class="row totalPagar">
            <div class="col-12">
              <h3 class="total text-center"><strong>Total a pagar</strong>: {{finalAmount}}€</h3>
            </div>

            
            <div class="col-12 text-center botonesPagar">
              <ngx-paypal *ngIf="logueado" [config]="payPalConfig" class="botonPaypal"></ngx-paypal>
              <i *ngIf="logueado" class="fas fa-sync fa-spin spinner"></i>

              <div *ngIf="!logueado" routerLink="/login/carrito" class="w-100 btn btn-warning realizarPedido">REALIZAR PEDIDO</div>
            </div>

          </div>
        </div>
      </div>
    </ng-container>

  </div>
</section>