<section>
  <div class="container">
      <div class="jumbotron">
          <h1 class="display-5">¿Quienes somos?</h1>
          <hr class="my-4">
          <p class="lead">WebCalistenia está formada actualmente por un miembro, Vasyl Havrylyuk, el cual es el desarrollador y propietario de la tienda.</p>
          <p class="lead">WebCalistenia forma parte de un proyecto de fin de ciclo para el curso DAW 2º de 2019 con el objetivo de aplicar los conocimientos aprendidos en el curso presente y aprender nuevas tecnologias Front-end / Back-end así como realizar el despliegue completo sobre Amazon Web Services.</p>

        </div>
  </div>
</section>