<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tienda" routerLinkActive="active">TIENDA</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MÁS</a>

          <div class="dropdown-menu">
            <a class="dropdown-item text-center" routerLink="/about">ACERCA DE</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center" routerLink="/contacto">CONTACTO</a>
          </div>
          
        </li>

        <li class="nav-item d-flex align-items-center mb-3 justify-content-center mapawebWrapper">
            <a routerLink="/mapaweb" class="fas fa-globe-europe" title="Mapa web"></a>
        </li>
      </ul>

      <div class="iconsBtnWrapper d-flex align-content-center">
        <a class="btn login" (click)="botonLogin()" title="Cuenta de usuario">
          <i class="fas fa-user"></i>
        </a>

        <a *ngIf="numeroArticulosCarrito >= 1" class="btn carrito" routerLink="/tienda/carrito" title="Carrito de compras">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge bg-success numeroArticulosCarrito">{{ numeroArticulosCarrito }}</span>
        </a>
      </div>
    </div>
  </div>
</nav>