nav {
    background: #2b0238 !important;


    a.nav-link.active {
        color: #fff !important;
        background: #a798bc33;

        @media (max-width:992px) {
            margin-top: 20px;
        }
    }

    
}


.iconsBtnWrapper {
    justify-content: center;

    .btn {
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        cursor: pointer;
        

        border:1px solid rgb(108, 20, 167);

        &:hover {
            color: rgb(0, 0, 0);
            background: #fff;
        }
    }

    .login {
        margin-right: 5px;
    }

    .carrito {
        margin-left: 5px;
    }

}


@media (min-width: 990px) { 
    .nav-item {
       margin-top:0px !important;
       margin-bottom:0px !important;
    }
}