nav {
    background: #2b0238 !important;
}

a.active {
    color:rgb(235, 235, 235) !important;
    background: #372147;
}

.iconsBtnWrapper {
    justify-content: center;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        
        background: #0d0211;
        border:1px solid rgb(108, 20, 167);

        &:hover {
            color: rgb(0, 0, 0);
            background: #fff;
        }
    }

    .login {
        margin-right: 5px;
    }

    .carrito {
        margin-left: 5px;
    }


}