<section *ngIf="autenticado">
  <div class="container">
    <div class="row controles">
      <div class="col controles">
        <div class="btn btn-primary disabled">Modificar mis datos (en desarrollo)</div>
        <div class="btn btn-primary disabled">Ver histórico (en desarrollo)</div>
        <div class="btn btn-primary" (click)="cerrarSesion()">Cerrar sesión</div>
      </div>
    </div>

    <h2>Detalles de tu cuenta 'nombre de usuario'</h2>
    <p>Lorem ipsum dolor sit.</p>
    <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet..</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa totam ullam soluta possimus, facere officia, ab delectus perspiciatis voluptates commodi molestias neque eum sit dicta. Omnis doloribus illum ipsa. Tempore, ipsa! Dignissimos esse alias autem voluptas nulla dolore perferendis exercitationem?</p>
  </div>
</section>
