<section *ngIf="autenticado">
  <div class="container">
    <div class="row controles">
      <div class="col controles">
        <div class="btn btn-primary" (click)="cerrarSesion()">Cerrar sesión</div>
      </div>
    </div>

    <h2>Bienvenido {{ usuario.sNombre + " " + usuario.sApellido }}</h2>

    <hr class="my-3">

    <div class="row">
      <div class="col-lg-5">
        <form method="post" (submit)="actualizarCuenta($event)">
          <div class="form-group row">
            <label for="usuario" class="col-sm-4 col-form-label">Usuario</label>

            <div class="col">
              <input type="text" [value]="usuario.sUser" name="usuario" class="form-control" id="usuario">
            </div>
          </div>

          <div class="form-group row">
            <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>

            <div class="col">
              <input type="text" [value]="usuario.sNombre" name="nombre" class="form-control" id="nombre">
            </div>
          </div>

          <div class="form-group row">
            <label for="apellido" class="col-sm-4 col-form-label">Apellidos</label>

            <div class="col">
              <input type="text" [value]="usuario.sApellido" name="apellido" class="form-control" id="apellido">
            </div>
          </div>

          <div class="form-group row">
            <label for="dni" class="col-sm-4 col-form-label">NIE / DNI</label>

            <div class="col">
              <input type="text" [value]="usuario.sDni" name="dni" class="form-control" id="dni">
            </div>
          </div>

          <div class="form-group row">
            <label for="direccion" class="col-sm-4 col-form-label">Dirección</label>

            <div class="col">
              <input type="text" [value]="usuario.sDireccion" name="direccion" class="form-control" id="direccion">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>

            <div class="col">
              <input type="email" [value]="usuario.sEmail" name="email" class="form-control" id="email">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10 offset-sm-4">
              <button type="submit" class="btn btn-outline-primary">Actualizar cuenta</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col pl-4">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <h5>Tu historial de pedidos</h5>
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div *ngIf="historialPedidos.length >= 1" class="table-responsive-sm">
                  <table class="table">
                    <tr>
                      <th class="text-center" colspan="2">Artículo</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">PVP</th>
                      <th class="text-center">Total</th>
                    </tr>


                    <tr *ngFor="let item of historialPedidos">
                      <td><img [attr.src]="'assets/img/' + item.imagen" style="width: 80px;"></td>
                      <td>{{ item.nombre }}</td>
                      <td class="text-center">{{ item.cantidad }}</td>
                      <td class="text-center">{{ item.pvp }}€</td>
                      <td class="text-center">{{ item.total }}€</td>
                    </tr>
                  </table>
                </div>

                <div *ngIf="historialPedidos.length == 0">
                  Todavía no has realizado ningún pedido
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>