section {
    background: #e1e1e1;
    
    .container {
        position:relative;

        .col.menu {
            .container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 15px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
              
              /* Hide the browser's default radio button */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
              
            /* Create a custom radio button */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 50%;
            }
              
            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
                background-color: #ccc;
            }
              
            /* When the radio button is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color: #430457;
            }
              
            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
              
            /* Show the indicator (dot/circle) when checked */
            .container input:checked ~ .checkmark:after {
                display: block;
            }
              
            /* Style the indicator (dot/circle) */
            .container .checkmark:after {
                top: 9px;
                left: 9px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
            }


            background:#f3f3f3;
            border-left: 1px solid rgb(219, 219, 219);
            border-right: 1px solid rgb(219, 219, 219);

            .filtro {
                margin-top: 15px;

                input {
                    width: 100%;
                    padding:5px 20px;
                }
            }


            nav#sidebar {
                .card {
                    .card-header {
                        background: #2b0238 !important;
                    }


                    .btn-link {
                        color:white;
                        padding-left:0;
                    }
                }
            }

        }

        .col.articulos {
            .wrapperPaginacion {
                background: rgb(185, 185, 185);
                padding: 5px 0;   
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                option {
                    text-align: center;
                }
            }
            
            .row.articles {
                padding-top: 15px; 
    
                .col.articleMaterial {
                    margin-bottom:20px;

                    h2.nombre {
                        background: white;
                        min-height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size:1.1rem;
                        padding:0 10px !important;
                        margin-bottom: 0;
                    }
            
                    img.articulo {
                        width:100%;
                    }

                    article {
                        border: 1px solid #e4e4e4;
                        border-radius: 10px;

                        .card-content {
                            background: #fff;
                            padding:15px;

                            .precio {
                                text-align: center;
                                font-weight: bold;
                                font-size:1.5rem;

                            }
                        }
                    }
                }
            }
        }
    }
}

