<section>
    <div class="container">
        

        <div class="row">
            <div class="col col-12 col-md-4 col-lg-3 menu">

                <!-- CAJA PARA ORDENAR -->
                <div class="ordenar form-group">
                    <label class="sr-only" for="ordenar">Ordenar</label>
                    
                    <select class="filtro form-control" name="ordenar" id="ordenar" (change)="ordenar($event)">
                        <option value="desc">Precio: más caros primero</option>
                        <option value="asc">Precio: más baratos primero</option>
                    </select>
                </div>
                
                <!-- CAJA DE FILTRAR TEXTO -->
                <div class="filtro busqueda form-group">
                    <label class="sr-only" for="buscar">¿Que buscas?</label>
                    <input class="form-control" type="text" id="buscar" placeholder="Que buscas?" (keyup)="filtrarPorTitulo($event)">
                </div>

                <!-- MENU ITEMS -->
                <nav id="sidebar">
                    <div class="row">
                        <div class="col">
                            <div class="accordion" id="accordionExample">
                                
                                <div class="card">
                                    
                                    <div class="card-header" id="headingOne">
                                        <span (click)="eliminarFiltros('categoria')" class="eliminarFiltros" title="Eliminar filtros"><i class="fas fa-times"></i></span>

                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                href="#card-articulos" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                Categoria
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="card-articulos" class="collapse show"
                                        aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">

                                            <div *ngFor="let item of menuTipos">
                
                                                <label class="container">{{item.tipo}}
                                                    <input type="radio" class="categoria" name="tipo" (click)="filtrar('tipo', item.tipo)">
                                                    <span class="checkmark"></span>
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                href="#card-marcas" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Marcas
                                            </button>
                                        </h5>
                                    </div>
        
                                    <div id="card-marcas" class="collapse"
                                        aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div *ngFor="let item of menuMarcas">
                                                
                                                <label class="container">{{item.marca}}
                                                    <input type="radio" class="marca" name="marca" (click)="filtrar('marca', item.marca)">
                                                    <span class="checkmark"></span>
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>


            <!-- ARTICULOS -->
            <div class="col articulos">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-5 col-xl-4 ml-auto">
                        <div class="wrapperPaginacion text-center">
                            <span>Mostrar </span>

                            <select [(ngModel)]="paginacion">
                                <option [value]="1000000">Ver todos</option>
                                <option [value]="5" selected="selected">5</option>
                                <option [value]="10">10</option>
                                <option [value]="15">15</option>
                                <option [value]="20">20</option>
                                
                            </select>

                            <span> por página</span>
                        </div>
                    </div>
                </div>

                <div class="row articles">
                    <ng-container
                        *ngFor="let item of articulos | paginate: { itemsPerPage: paginacion, currentPage: paginaActual }">
                        <div class="col col-12 col-md-6 col-lg-4 articleMaterial">

                            <article class="card" (click)="verDetalle(item.k)" [title]="item.nombre">
                                <div class="card-body">
                                    <div class="udsDisponiblesWrapper text-center"><span class="udsDisponibles">QUEDAN <strong>{{ item.stock }}</strong></span></div>
                                    <div class="imgWrapper"><img class="articulo img-fluid" [attr.src]="'assets/img/' + item.imagen"></div>
                                    <div class="nameWrapper">{{ item.nombre }}</div>
                                    <div class="precioWrapper">{{ item.precio }}€</div>
                                </div>

                                <div class="overlayWrapper">
                                    <h4 class="lead">VER DETALLE</h4>
                                </div>
                            </article>
                        </div>
                    </ng-container>
                </div>

                
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event"></pagination-controls>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>