/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";





body {
    position: relative;
    min-height: 100vh;

    .fluid-bread {
        background: #fff !important;
        font-size: 12px;
    
        .breadcrumb {
            background: none !important;
            padding: 0 5px !important;
        }
    }

    section {
        padding-bottom: 5.5rem;
    }
}

#signupLoadWrapper {
    position: fixed;
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(254, 254, 254, 0.91); 
    z-index: 1000;
    display: none;
    text-align: center;

    .spinner {
        font-size: 25vw;
        margin-top: 10vw;
    }

}


